@using FamilyExpenseTracker.Models
@model FamilyMember
@{
    ViewBag.BtnTitle = "DeleteFamilyMember";
    ViewBag.Title = "Delete Family Member";
}
<h2>Delete FamilyMember</h2>
@Html.Partial("FamilyMemberPartial", Model)
